<div>
    <div id="videos">
        <div class="row">
          <div class="col-xs-12">
            <div id="publisher"> Sua câmera</div><div id="subscriber"></div>
          </div>
        </div>
      </div>



  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      <%= render(:partial => 'shared/video', :handlers => [:erb], :formats => [:js]) %>
    <% end %>
  <% end %>

  <%= button_to "Finalizar a aula", chat_room_rating_path(@chat_room), method: :get, class: "btn btn-warning" %>
  <br>
  <%= button_to "Cancelar", lesson_request_cancel_path(@chat_room.lesson_request), method: :get, class: 'btn btn-danger' %>
</div>
