// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.division1 {
  margin-left: 100px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.division2 {
  margin-right: 100px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.wrapp {
  display: flex;
  justify-content: space-between;
}

.agenda {
  text-size: 300px;
}

.user-profile{
  background-color: white;
  padding:20px;
  margin:20px;
  border-radius: 10px;
  text-align: center;
}

.sensei-profile{
  background-color: rgba(255,255,255,0.8);
  padding:20px;
  margin:20px;
  border-radius: 10px;
  text-align: center;
}

.sensei-profiles{
  background-color: rgba(255,255,255,1) ;
  padding:20px;
  margin:20px;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
}

.sensei-profile-index{
  padding:10px;
  background-color: white;
  border: 1px solid white;
}

.sensei-profile-index:hover{
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px (0,0,0,0.6);
  border-radius: 5px;
  background-color: rgba(233,233,233,0.7)
}

.be-sensei{
  height:50px;
}

.features{
  border-top: 1px solid black;
  padding-top:40px;
}


#sensei-title{
  font-size: 130px;
}

.home-list > li {
  margin:7px;
}

.sensei-index{
  background-image: url(https://res.cloudinary.com/dppztxeda/image/upload/v1542932828/mac-background.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


html{
  position: relative;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  width:100%;
}

#publisher{
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  z-index: 1;
}

.login-container{
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
  margin:20px;
  border-radius:10px;
}

.shared-index {
  display: flex;
  justify-content: space-between;
}


#lesson{
  margin: 30px auto;
}


.each-lesson{
  margin:5px;
  padding:10px;
  background-color: rgba(255,255,255,0.8);
  border-radius:10px;
}

.each-lesson:hover{
  background-color: rgba(233,233,233,0.8);
}

.stars{
  color: orange;
  font-size: 50px;
}

.requests-index{
  background-color: white;
  border-radius: 5px;
  padding:10px;
  margin:10px;
}

.estrela{
  color: orange;
  opacity: 0.35;
}

.estrelas{
  font-size: 100px;
  text-align: center;
}

.lessons{
  margin-left: 15vw;
}

body{
  height:100vh;
}
